<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
    <h1>I AM DEE BE</h1>
    <p>Welcome</p>
    <a href="/api/users/login">Login Here !!</a> <br>
    <a href="/api/users/register">Register Here !!</a>
    
  </body>
</html>